In [1]:
# CSV 2 flare.json
# convert a csv file to flare.json for use with many D3.js viz's
# This script creates outputs a flare.json file with 2 levels of nesting.
# For additional nested layers, add them in lines 32 - 47
# sample: http://bl.ocks.org/mbostock/1283663
# author: Andrew Heekin
# MIT License

In [2]:
import pandas as pd
import json

In [3]:
!ls

CSV2Flare.ipynb   flare.json        grupos.csv        publicaciones.csv

## Cuantas Publicaciones tiene cada Grupo de Investigacion

In [4]:
df_grupos = pd.read_csv('grupos.csv',sep=',')
df_publicaciones = pd.read_csv('publicaciones.csv',sep=',')
data = pd.merge(df_grupos,df_publicaciones, how='inner', on='id_gi')

In [5]:
df = data.loc[:,['codigo_entidad', 'entidad','id_gi','nombre_gi','Publicaciones']]
df = df[["entidad", "nombre_gi", "Publicaciones"]]

In [6]:
def toNumbers(row):
    if(len(row) > 0):
        return 1

df['size'] = df.apply (lambda row: toNumbers(row), axis=1)
df.head(3)

,entidad,nombre_gi,Publicaciones,size
0,UNAP,Grupo Alimentos Funcionales y Nutracéuticos,"Cheng, D.M.,, Kuhn, P., Poulev, P., Rojo, L.E....",1
1,UNAP,Grupo Alimentos Funcionales y Nutracéuticos,"Gaspar, P.A., Bustamante, M.L., Rojo, L.E. y M...",1
2,UNAP,Grupo Alimentos Funcionales y Nutracéuticos,"Benites, J., Gutierrez, E., López, J., Rojas, ...",1

In [7]:
df1 = df.groupby(['entidad', 'nombre_gi'])['size'].sum()
df1 = df1.reset_index()

In [8]:
# start a new flare.json document
d = dict()
d = {"name":"flare", "children": []}

for line in df1.values:
    the_parent = line[0]
    the_child = line[1]
    child_size = line[2]

    # make a list of keys
    keys_list = []
    for item in d['children']:
        keys_list.append(item['name'])

    # if 'the_parent' is NOT a key in the flare.json yet, append it
    if not the_parent in keys_list:
        d['children'].append({"name":the_parent, "children":[{"name":the_child, "size":child_size}]})

    # if 'the_parent' IS a key in the flare.json, add a new child to it
    else:
        d['children'][keys_list.index(the_parent)]['children'].append({"name":the_child, "size":child_size})


# export the final result to a json file
with open('flare.json', 'w') as outfile:
    json.dump(d, outfile)

In [9]:
!ls

CSV2Flare.ipynb   flare.json        grupos.csv        publicaciones.csv